.brands {
	background: #f8f8f8;
	@media (min-width: 768px) {
		background: #f2f2f2;
	}
	@media (min-width: 1120px) {
		background: #f8f8f8;
	}
	&__body {
		padding: 16px 0 40px 0;
		@media (min-width: 768px) {
			padding: 24px 0 40px 0;
		}
	}

	&__link {
		display: none;
		@media (min-width: 768px) {
			display: inline-block;
			&.brands__link--open {
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}
}
.slider {
	padding-bottom: 30px;
	margin-right: -16px;
	position: relative;
	&::after {
		content: "";
		width: 24px;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
	}
	@media (min-width: 768px) {
		margin: 0 -12px;
		padding-bottom: 8px;
		&::after {
			display: none;
		}
		&.slider--minimized {
			height: 170px;
			margin-bottom: 16px;
		}
		&.table__slider {
			margin: 0;
		}
	}

	&__list {
		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	&__item {
		box-sizing: border-box;
		width: 240px;
		height: 72px;
		background: #ffffff;
		border: 1px solid #eaeaea;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
		transition: box-shadow 0.3s ease 0s;
		@media (min-width: 768px) {
			width: 224px;
			margin: 0 12px 16px 12px;
		}
		@media (min-width: 1120px) {
			width: 240px;
			margin: 0 15px 16px 15px;
		}
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
			}
		}
		&.slider__item--big {
			min-height: 160px;
			.slider__link {
				height: 100%;
				flex-direction: column;
			}
			.slider__arrow {
				align-self: flex-end;
				width: 40px;
				flex: 0 0 40px;
			}
		}
	}

	&__link {
		padding: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		img {
			max-width: 128px;
			max-height: 40px;
		}
	}

	&__title {
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: #1b1c21;
		font-weight: 700;
		align-self: flex-start;
	}

	&__arrow {
		border: 2px solid #ff3e79;
		border-radius: 50%;
		flex: 0 0 40px;
		height: 40px;
		background: url("../img/arrow.svg") center no-repeat;
	}

	.swiper-pagination {
		bottom: 0px;
		@media (min-width: 768px) {
			display: none;
		}
	}
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background: #b5b6bc;
	}
}
