.footer {
	border-top: 1px solid #d9fff5;
	padding: 16px 0;
	&__body {
		margin: 0 -8px;
		display: flex;
		flex-direction: column;
		@media (min-width:768px) {
			padding: 32px 0;
			justify-content: space-between;
			flex-direction: row;
		}
	}

	&__col {
		flex: 0 0 33.333%;
		font-size: 14px;
		line-height: 114%;
		color: #7e7e82;
		opacity: 0.72;
		padding: 0 8px;
		text-align: center;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
		a {
			color: inherit;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		@media (min-width:768px)  {
			&:not(:last-child) {
				margin-bottom: 0;
			}
			&:first-child {
				text-align: left;
			}
			&:nth-child(2) {
				text-align: center;
			}
			&:last-child {
				text-align: right;
			}
		}
		@media (min-width:1366px) {
			&:nth-child(2) {
				text-align: left;
			}
		}
	}
}
